<h1>Listing personaje_mvc3s</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personaje_mvc3s.each do |personaje_mvc3| %>
  <tr>
    <td><%= personaje_mvc3.nombre %></td>
    <td><%= personaje_mvc3.path %></td>
    <td><%= link_to 'Show', personaje_mvc3 %></td>
    <td><%= link_to 'Edit', edit_personaje_mvc3_path(personaje_mvc3) %></td>
    <td><%= link_to 'Destroy', personaje_mvc3, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Personaje mvc3', new_personaje_mvc3_path %>
