<h1>Listing log_bono_blaz_blues</h1>

<table>
  <tr>
    <th>Id cuenta</th>
    <th>Puntos</th>
    <th>Motivo</th>
    <th>Fecha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @log_bono_blaz_blues.each do |log_bono_blaz_blue| %>
  <tr>
    <td><%= log_bono_blaz_blue.id_cuenta %></td>
    <td><%= log_bono_blaz_blue.puntos %></td>
    <td><%= log_bono_blaz_blue.motivo %></td>
    <td><%= log_bono_blaz_blue.fecha %></td>
    <td><%= link_to 'Show', log_bono_blaz_blue %></td>
    <td><%= link_to 'Edit', edit_log_bono_blaz_blue_path(log_bono_blaz_blue) %></td>
    <td><%= link_to 'Destroy', log_bono_blaz_blue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Log bono blaz blue', new_log_bono_blaz_blue_path %>
