<h1>Listing motivo_bono_sf4s</h1>

<table>
  <tr>
    <th>Id motivo</th>
    <th>Descripcion</th>
    <th>Evento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @motivo_bono_sf4s.each do |motivo_bono_sf4| %>
  <tr>
    <td><%= motivo_bono_sf4.id_motivo %></td>
    <td><%= motivo_bono_sf4.descripcion %></td>
    <td><%= motivo_bono_sf4.evento %></td>
    <td><%= link_to 'Show', motivo_bono_sf4 %></td>
    <td><%= link_to 'Edit', edit_motivo_bono_sf4_path(motivo_bono_sf4) %></td>
    <td><%= link_to 'Destroy', motivo_bono_sf4, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Motivo bono sf4', new_motivo_bono_sf4_path %>
