<p id="notice"><%= notice %></p>

<p>
  <b>Id motivo:</b>
  <%= @motivo_bono_sf4.id_motivo %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @motivo_bono_sf4.descripcion %>
</p>

<p>
  <b>Evento:</b>
  <%= @motivo_bono_sf4.evento %>
</p>


<%= link_to 'Edit', edit_motivo_bono_sf4_path(@motivo_bono_sf4) %> |
<%= link_to 'Back', motivo_bono_sf4s_path %>
