<p id="notice"><%= notice %></p>

<p>
  <b>Id cuenta:</b>
  <%= @log_bono_sf4.id_cuenta %>
</p>

<p>
  <b>Puntos:</b>
  <%= @log_bono_sf4.puntos %>
</p>

<p>
  <b>Motivo:</b>
  <%= @log_bono_sf4.motivo %>
</p>

<p>
  <b>Fecha:</b>
  <%= @log_bono_sf4.fecha %>
</p>


<%= link_to 'Edit', edit_log_bono_sf4_path(@log_bono_sf4) %> |
<%= link_to 'Back', log_bono_sf4s_path %>
