<p id="notice"><%= notice %></p>

<p>
  <b>Id cuenta:</b>
  <%= @log_bono_guilty.id_cuenta %>
</p>

<p>
  <b>Puntos:</b>
  <%= @log_bono_guilty.puntos %>
</p>

<p>
  <b>Motivo:</b>
  <%= @log_bono_guilty.motivo %>
</p>

<p>
  <b>Fecha:</b>
  <%= @log_bono_guilty.fecha %>
</p>


<%= link_to 'Edit', edit_log_bono_guilty_path(@log_bono_guilty) %> |
<%= link_to 'Back', log_bono_guilties_path %>
