<article class="fighters">
<h2>MVC3</h2>
<div class="line"></div>

<div class="contenido">
  <div class="head">
    <h4 style="text-align:center">Readyyyy! Fighhhht!!</h4>
  </div>
  <br />
  <img id="fig" src="images/logos/mvc3.jpg" height="150" width="300" alt="ups"/>

  <div class="op">
    <h3>Menu</h3>
      <% if user_signed_in? %>
      <%if getUsuarioActual==nil%>
      <p>Llena tus datos en el perfil para inscribirte en esta liga</p>
      <%else%>
      <%if LigaMvc3General.where(:id_cuenta=>getUsuarioActual.id_cuenta).size!=0%>
      <p><a href= "<%=edit_liga_mvc3_general_path(LigaMvc3General.where(:id_cuenta=>getUsuarioActual.id_cuenta)[0]);%>" >Cambiar Personaje</a></p>
      <%else%>
      <p><a href= "<%=new_liga_mvc3_general_path%>" >Inscribirse</a></p>
      <%end%>
      <%end%>
      <%else%>
      <p>Logeate Primero</p>
      <%end%>
  </div>
  <br />


  <%i=0%>
  <% @liga_mvc3_generals.sort_by { |f| [-f.puntos] }.each do |liga_mvc3| %>
  <div class="fila">
    <article class="subA">
      
        <p id="idt"><%= link_to liga_mvc3.id_cuenta, Perfil.where(:id_cuenta=>liga_mvc3.id_cuenta)[0] %></p> 
        <img id="avt" src="<%= Perfil.where(:id_cuenta=>liga_mvc3.id_cuenta)[0].foto %>" height="70" width="70" alt="ups" align="top"/> <br />
	<table class="stat">
	  <tr>
 	    <td><ul>
	      <li id="pos">Posici&oacute;n:  <%=i+=1%></li>
	      <li id="rnk">Rank:  <%= getRank(liga_mvc3.puntos) %></li>
	      <li id="pts">Puntos:  <%= liga_mvc3.puntos %></li>
            </ul></td>
	    <td>
	      <p>Personaje1<p> 
              <img style="padding:10px;" src="<%= PersonajeMvc3.where(:nombre=>liga_mvc3.personaje1)[0].path %>" alt="ups"/>
	    </td>
            <td>
	      <p>Personaje2<p> 
              <img style="padding:10px;" src="<%= PersonajeMvc3.where(:nombre=>liga_mvc3.personaje2)[0].path %>" alt="ups"/>
	    </td>
            <td>
	      <p>Personaje3<p> 
              <img style="padding:10px;" src="<%= PersonajeMvc3.where(:nombre=>liga_mvc3.personaje3)[0].path %>" alt="ups"/>
	    </td>
	  </tr>
	</table>    
    </article>
  </div>
<% end %>
</div>
</article>
