<p id="notice"><%= notice %></p>

<p>
  <b>Id cuenta:</b>
  <%= @liga_mvc3_general.cuenta %>
</p>

<p>
  <b>Puntos:</b>
  <%= @liga_mvc3_general.puntos %>
</p>

<p>
  <b>Personaje1:</b>
  <%= @liga_mvc3_general.personaje1 %>
</p>

<p>
  <b>Personaje2:</b>
  <%= @liga_mvc3_general.personaje2 %>
</p>

<p>
  <b>Personaje3:</b>
  <%= @liga_mvc3_general.personaje3 %>
</p>


<%= link_to 'Edit', edit_liga_mvc3_general_path(@liga_mvc3_general) %> |
<%= link_to 'Back', liga_mvc3_generals_path %>
