<h1>Listing log_pelea_mvc3_generals</h1>

<table>
  <tr>
    <th>Id ganador</th>
    <th>Id perdedor</th>
    <th>Puntos ganador</th>
    <th>Puntos perdedor</th>
    <th>Fecha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @log_pelea_mvc3_generals.each do |log_pelea_mvc3_general| %>
  <tr>
    <td><%= log_pelea_mvc3_general.ganador %></td>
    <td><%= log_pelea_mvc3_general.perdedor %></td>
    <td><%= log_pelea_mvc3_general.puntos_ganador %></td>
    <td><%= log_pelea_mvc3_general.puntos_perdedor %></td>
    <td><%= log_pelea_mvc3_general.fecha %></td>
    <td><%= link_to 'Show', log_pelea_mvc3_general %></td>
    <td><%= link_to 'Edit', edit_log_pelea_mvc3_general_path(log_pelea_mvc3_general) %></td>
    <td><%= link_to 'Destroy', log_pelea_mvc3_general, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Log pelea mvc3 general', new_log_pelea_mvc3_general_path %>
