<p id="notice"><%= notice %></p>

<p>
  <b>Id cuenta:</b>
  <%= @liga_blaz_blue_general.cuenta %>
</p>

<p>
  <b>Puntos:</b>
  <%= @liga_blaz_blue_general.puntos %>
</p>

<p>
  <b>Personaje principal:</b>
  <%= @liga_blaz_blue_general.personaje_principal %>
</p>


<%= link_to 'Edit', edit_liga_blaz_blue_general_path(@liga_blaz_blue_general) %> |
<%= link_to 'Back', liga_blaz_blue_generals_path %>
