<h1>Listing perfils</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Id cuenta</th>
    <th>Foto</th>
    <th>Nombre real</th>
    <th>Mensaje personal</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @perfils.each do |perfil| %>
  <tr>
    <td><%= perfil.email %></td>
    <td><%= perfil.id_cuenta %></td>
    <td><%= perfil.foto %></td>
    <td><%= perfil.nombre_real %></td>
    <td><%= perfil.mensaje_personal %></td>
    <td><%= link_to 'Show', perfil %></td>
    <td><%= link_to 'Edit', edit_perfil_path(perfil) %></td>
    <td><%= link_to 'Destroy', perfil, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Perfil', new_perfil_path %>
