<p id="notice"><%= notice %></p>

<p>
  <b>Id cuenta:</b>
  <%= @liga_super_sf4_general.id_cuenta %>
</p>

<p>
  <b>Puntos:</b>
  <%= @liga_super_sf4_general.puntos %>
</p>

<p>
  <b>Personaje principal:</b>
  <%= @liga_super_sf4_general.personaje_principal %>
</p>


<%= link_to 'Edit', edit_liga_super_sf4_general_path(@liga_super_sf4_general) %> |
<%= link_to 'Back', liga_super_sf4_generals_path %>
