<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @personaje_sf3.nombre %>
</p>

<p>
  <b>Path:</b>
  <%= @personaje_sf3.path %>
</p>


<%= link_to 'Edit', edit_personaje_sf3_path(@personaje_sf3) %> |
<%= link_to 'Back', personaje_sf3s_path %>
