<%= form_for(@log_bono_sf3) do |f| %>
  <% if @log_bono_sf3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log_bono_sf3.errors.count, "error") %> prohibited this log_bono_sf3 from being saved:</h2>

      <ul>
      <% @log_bono_sf3.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_cuenta %><br />
    <%= f.text_field :id_cuenta %>
  </div>
  <div class="field">
    <%= f.label :puntos %><br />
    <%= f.text_field :puntos %>
  </div>
  <div class="field">
    <%= f.label :motivo %><br />
    <%= f.collection_select :motivo, MotivoBonoSf3.all, :id_motivo, :descripcion %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
