<h1>Listing log_bono_sf3s</h1>

<table>
  <tr>
    <th>Id cuenta</th>
    <th>Puntos</th>
    <th>Motivo</th>
    <th>Fecha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @log_bono_sf3s.each do |log_bono_sf3| %>
  <tr>
    <td><%= log_bono_sf3.id_cuenta %></td>
    <td><%= log_bono_sf3.puntos %></td>
    <td><%= log_bono_sf3.motivo %></td>
    <td><%= log_bono_sf3.fecha %></td>
    <td><%= link_to 'Show', log_bono_sf3 %></td>
    <td><%= link_to 'Edit', edit_log_bono_sf3_path(log_bono_sf3) %></td>
    <td><%= link_to 'Destroy', log_bono_sf3, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Log bono sf3', new_log_bono_sf3_path %>
