<p id="notice"><%= notice %></p>

<p>
  <b>Id cuenta:</b>
  <%= @log_bono_sf3.id_cuenta %>
</p>

<p>
  <b>Puntos:</b>
  <%= @log_bono_sf3.puntos %>
</p>

<p>
  <b>Motivo:</b>
  <%= @log_bono_sf3.motivo %>
</p>

<p>
  <b>Fecha:</b>
  <%= @log_bono_sf3.fecha %>
</p>


<%= link_to 'Edit', edit_log_bono_sf3_path(@log_bono_sf3) %> |
<%= link_to 'Back', log_bono_sf3s_path %>
