<p id="notice"><%= notice %></p>

<p>
  <b>Id motivo:</b>
  <%= @motivo_bono_guilty.id_motivo %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @motivo_bono_guilty.descripcion %>
</p>

<p>
  <b>Evento:</b>
  <%= @motivo_bono_guilty.evento %>
</p>


<%= link_to 'Edit', edit_motivo_bono_guilty_path(@motivo_bono_guilty) %> |
<%= link_to 'Back', motivo_bono_guilties_path %>
