<%= form_for(@liga_sf4) do |f| %>
  <% if @liga_sf4.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@liga_sf4.errors.count, "error") %> prohibited this liga_sf4 from being saved:</h2>

      <ul>
      <% @liga_sf4.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :personaje_principal %><br />
    <%= f.collection_select :personaje_principal, PersonajeSf4.all, :nombre, :nombre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
