<p id="notice"><%= notice %></p>

<p>
  <b>Id cuenta:</b>
  <%= @liga_sf4.id_cuenta %>
</p>

<p>
  <b>Puntos:</b>
  <%= @liga_sf4.puntos %>
</p>

<p>
  <b>Personaje principal:</b>
  <%= @liga_sf4.personaje_principal %>
</p>


<%= link_to 'Edit', edit_liga_sf4_path(@liga_sf4) %> |
<%= link_to 'Back', liga_sf4s_path %>
