<p id="notice"><%= notice %></p>

<p>
  <b>Id cuenta:</b>
  <%= @liga_sf3.id_cuenta %>
</p>

<p>
  <b>Puntos:</b>
  <%= @liga_sf3.puntos %>
</p>

<p>
  <b>Personaje principal:</b>
  <%= @liga_sf3.personaje_principal %>
</p>


<%= link_to 'Edit', edit_liga_sf3_path(@liga_sf3) %> |
<%= link_to 'Back', liga_sf3s_path %>
