<p id="notice"><%= notice %></p>

<p>
  <b>Id motivo:</b>
  <%= @motivo_bono_blaz_blue.id_motivo %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @motivo_bono_blaz_blue.descripcion %>
</p>

<p>
  <b>Evento:</b>
  <%= @motivo_bono_blaz_blue.evento %>
</p>


<%= link_to 'Edit', edit_motivo_bono_blaz_blue_path(@motivo_bono_blaz_blue) %> |
<%= link_to 'Back', motivo_bono_blaz_blues_path %>
