<h1>Listing personaje_sf4s</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personaje_sf4s.each do |personaje_sf4| %>
  <tr>
    <td><%= personaje_sf4.nombre %></td>
    <td><%= personaje_sf4.path %></td>
    <td><%= link_to 'Show', personaje_sf4 %></td>
    <td><%= link_to 'Edit', edit_personaje_sf4_path(personaje_sf4) %></td>
    <td><%= link_to 'Destroy', personaje_sf4, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Personaje sf4', new_personaje_sf4_path %>
