<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @personaje_sf4.nombre %>
</p>

<p>
  <b>Path:</b>
  <%= @personaje_sf4.path %>
</p>


<%= link_to 'Edit', edit_personaje_sf4_path(@personaje_sf4) %> |
<%= link_to 'Back', personaje_sf4s_path %>
