<article class="fighters">
<h2>BlazBlue</h2>
<div class="line"></div>

<div class="contenido">
  <div class="head">
    <h4 style="text-align:center">the wheel of fate is turning.</h4>
  </div>
  <br />
  <img id="fig" src="images/logos/blaz_blue.jpg" height="150" width="300" alt="ups"/>

  <div class="op">
    <h3>Menu</h3>
      <% if user_signed_in? %>
      <%if getUsuarioActual==nil%>
      <p>Llena tus datos en el perfil para inscribirte en esta liga</p>
      <%else%>
      <%if LigaBlazBlue.where(:id_cuenta=>getUsuarioActual.id_cuenta).size!=0%>
      <p><a href= "<%=edit_liga_blaz_blue_path(LigaBlazBlue.where(:id_cuenta=>getUsuarioActual.id_cuenta)[0]);%>" >Cambiar Personaje</a></p>
      <%else%>
      <p><a href= "<%=new_liga_blaz_blue_path%>" >Inscribirse</a></p>
      <%end%>
      <%end%>
      <%else%>
      <p>Logeate Primero</p>
      <%end%>
  </div>
  <br />


  <%i=0%>
  <% @liga_blaz_blues.sort_by { |f| [-f.puntos] }.each do |liga_blaz_blue| %>
  <div class="fila">
    <article class="subA">
      
        <p id="idt"><%= link_to liga_blaz_blue.id_cuenta, Perfil.where(:id_cuenta=>liga_blaz_blue.id_cuenta)[0] %></p> 
        <img id="avt" src="<%= Perfil.where(:id_cuenta=>liga_blaz_blue.id_cuenta)[0].foto %>" height="70" width="70" alt="ups" align="top"/> <br />
	<table class="stat">
	  <tr>
 	    <td><ul>
	      <li id="pos">Posici&oacute;n:  <%=i+=1%></li>
	      <li id="rnk">Rank:  <%= getRank(liga_blaz_blue.puntos) %></li>
	      <li id="pts">Puntos:  <%= liga_blaz_blue.puntos %></li>
            </ul></td>
	    <td>
	      <p id="chtr">Personaje<p> 
              <img id="avt2" src="<%= PersonajeBlazBlue.where(:nombre=>liga_blaz_blue.personaje_principal)[0].path %>" alt="ups"/>  
	    </td>
	  </tr>
	</table>    
    </article>
  </div>
<% end %>
</div>
</article>
