<p id="notice"><%= notice %></p>

<p>
  <b>Id cuenta:</b>
  <%= @liga_blaz_blue.id_cuenta %>
</p>

<p>
  <b>Puntos:</b>
  <%= @liga_blaz_blue.puntos %>
</p>

<p>
  <b>Personaje principal:</b>
  <%= @liga_blaz_blue.personaje_principal %>
</p>


<%= link_to 'Edit', edit_liga_blaz_blue_path(@liga_blaz_blue) %> |
<%= link_to 'Back', liga_blaz_blues_path %>
