<p id="notice"><%= notice %></p>

<p>
  <b>Id ganador:</b>
  <%= @log_pelea_sf4.id_ganador %>
</p>

<p>
  <b>Id perdedor:</b>
  <%= @log_pelea_sf4.id_perdedor %>
</p>

<p>
  <b>Puntos ganador:</b>
  <%= @log_pelea_sf4.puntos_ganador %>
</p>

<p>
  <b>Puntos perdedor:</b>
  <%= @log_pelea_sf4.puntos_perdedor %>
</p>

<p>
  <b>Fecha:</b>
  <%= @log_pelea_sf4.fecha %>
</p>


<%= link_to 'Edit', edit_log_pelea_sf4_path(@log_pelea_sf4) %> |
<%= link_to 'Back', log_pelea_sf4s_path %>
