<p id="notice"><%= notice %></p>

<p>
  <b>Id ganador:</b>
  <%= @log_pelea_blaz_blue_general.id_ganador %>
</p>

<p>
  <b>Id perdedor:</b>
  <%= @log_pelea_blaz_blue_general.id_perdedor %>
</p>

<p>
  <b>Puntos ganador:</b>
  <%= @log_pelea_blaz_blue_general.puntos_ganador %>
</p>

<p>
  <b>Puntos perdedor:</b>
  <%= @log_pelea_blaz_blue_general.puntos_perdedor %>
</p>

<p>
  <b>Fecha:</b>
  <%= @log_pelea_blaz_blue_general.fecha %>
</p>


<%= link_to 'Edit', edit_log_pelea_blaz_blue_general_path(@log_pelea_blaz_blue_general) %> |
<%= link_to 'Back', log_pelea_blaz_blue_generals_path %>
