<h1>Listing personaje_blaz_blues</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personaje_blaz_blues.each do |personaje_blaz_blue| %>
  <tr>
    <td><%= personaje_blaz_blue.nombre %></td>
    <td><%= personaje_blaz_blue.path %></td>
    <td><%= link_to 'Show', personaje_blaz_blue %></td>
    <td><%= link_to 'Edit', edit_personaje_blaz_blue_path(personaje_blaz_blue) %></td>
    <td><%= link_to 'Destroy', personaje_blaz_blue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Personaje blaz blue', new_personaje_blaz_blue_path %>
