<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @personaje_blaz_blue.nombre %>
</p>

<p>
  <b>Path:</b>
  <%= @personaje_blaz_blue.path %>
</p>


<%= link_to 'Edit', edit_personaje_blaz_blue_path(@personaje_blaz_blue) %> |
<%= link_to 'Back', personaje_blaz_blues_path %>
