<%= form_for(@log_pelea_super_sf4_general) do |f| %>
  <% if @log_pelea_super_sf4_general.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log_pelea_super_sf4_general.errors.count, "error") %> prohibited this log_pelea_super_sf4_general from being saved:</h2>

      <ul>
      <% @log_pelea_super_sf4_general.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ganador %><br />
    <%= f.collection_select :ganador, Perfil.all, :id_cuenta, :username %>
  </div>
  <div class="field">
    <%= f.label :perdedor %><br />
    <%= f.collection_select :perdedor, Perfil.all, :id_cuenta, :username %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
