<p id="notice"><%= notice %></p>

<p>
  <b>Id ganador:</b>
  <%= @log_pelea_super_sf4_general.ganador %>
</p>

<p>
  <b>Id perdedor:</b>
  <%= @log_pelea_super_sf4_general.perdedor %>
</p>

<p>
  <b>Puntos ganador:</b>
  <%= @log_pelea_super_sf4_general.puntos_ganador %>
</p>

<p>
  <b>Puntos perdedor:</b>
  <%= @log_pelea_super_sf4_general.puntos_perdedor %>
</p>

<p>
  <b>Fecha:</b>
  <%= @log_pelea_super_sf4_general.fecha %>
</p>


<%= link_to 'Edit', edit_log_pelea_super_sf4_general_path(@log_pelea_super_sf4_general) %> |
<%= link_to 'Back', log_pelea_super_sf4_generals_path %>
